<div class="post-preview">
    <a [routerLink]="['/post', 'politica-no-alcohol']">
    <h2 class="post-title">POLITICA DE NO ALCOHOL NI SUSTANCIAS</h2>
    <h3 class="post-subtitle">SKANHAWK SAS, define y establece una política de NO consumo de Alcohol, Tabaco y Sustancias Psicoactivas...</h3>
    </a>
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" [routerLink]="['/post', 'politica-no-alcohol']">Leer Mas →</a>
    </div>
    <p class="post-meta">
    Hecho por
    <a href="http://www.skanhawk.com" target="_blank">SkanHawk</a>
    Septiembre, 2024
    </p>            
</div>