<div class="post-preview">
    <a [routerLink]="['/post', 'politica-integra-hseq']">
    <h2 class="post-title">POLITICA INTEGRA HSEQ</h2><br>
    <h3 class="post-subtitle">SkanHawk SAS, es una compañía dedicada a la prestación de servicio de procesamiento de datos, alojamiento (hosting)...</h3>
    </a>
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" [routerLink]="['/post', 'politica-integra-hseq']">Leer Mas →</a>
    </div>
    <p class="post-meta">
    Hecho por
    <a href="http://www.skanhawk.com" target="_blank">SkanHawk</a>
    Septiembre, 2024
    </p>
            
</div>